# <h4 align=center> **Victoria RISO** </h4>

# <h4 align=center> **PROYECTO INDIVIDUAL Nº1 - Machine Learning Operations (MLOps)** </h4>

# <h4 align=center>**`Desarrollo de funciones`**</h4>

In [1]:
import numpy as np
import pandas as pd
#import seaborn as sns
#import matplotlib.pyplot as plt
#%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#agregados necesarios
#import ast
#from wordcloud import WordCloud, STOPWORDS
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# leo los datos movies_ds_transform.csv
# es el dataset con los datos limpios que preparé en las otras notebooks
df = pd.read_csv('movies_sin_duplic.csv')

In [3]:
# veo nombre de las columnas, tipo de datos y cantidad de valores no nulos. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45345 non-null  int64
 1   title         45345 non-null  object
 2   release_date  45345 non-null  object
 3   release_year  45345 non-null  int64
 4   popularity    45345 non-null  float64
 5   vote_average  45345 non-null  float64
 6   vote_count    45345 non-null  float64
 7   budget        45345 non-null  float64
 8   revenue       45345 non-null  float64
 9   return        45345 non-null  float64
dtypes: float64(6), int64(2), object(2)
memory usage: 3.5+ MB

</br>

### cantidad_filmaciones_mes

Se ingresa un mes en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en el mes consultado en la totalidad del dataset.</br>

- id de la película (no necesito el título)
- mes de estreno en español (columna preparada en la notebook Transformaciones a partir de la fecha de estreno)

In [ ]:
# Preparo para consultas en API una columna con el mes en castellano 'release_month_spa' 
# PODRIA CONVERTIR EL NOMBRE DEL MES A NUMERO Y PONER ESO EN LA COLUMNA. LA BUSQUEDA SERA MAS RAPIDA

# Agrego Desconocido como item 0, para que el indice coincida con los numeros de los meses

months = ["desconocido",
          "enero",
          "febrero",
          "marzo",
          "abril",
          "mayo",
          "junio",
          "julio",
          "agosto",
          "septiembre",
          "octubre",
          "noviembre",
          "diciembre"]

# en una nueva columna guardo el mes en que se estreno la pelicula
df['release_month_spa'] = df['release_date'].str[5:7].apply(lambda x: months[int(x)])

# reviso que los meses se correspondan con el numero del indice
print('deberían ser meses:', df['release_date'].str[5:7].unique())
print(df['release_month_spa'].unique())

deberían ser meses: ['10' '12' '02' '11' '09' '05' '04' '08' '07' '06' '01' '03']
['octubre' 'diciembre' 'febrero' 'noviembre' 'septiembre' 'mayo' 'abril'
 'agosto' 'julio' 'junio' 'enero' 'marzo']

In [9]:
# GUARDO dataset reducidos para la función de mes 
movies_ds_mes = df[['id', 'release_month_spa']].copy()
movies_ds_mes.to_csv("movies_ds_mes.csv" , index=False)

In [11]:
# averiguo cantidad de películas estrenadas por mes en el dataset
movies_ds_mes["release_month_spa"].value_counts()

release_month_spa
enero         5909
septiembre    4834
octubre       4613
diciembre     3781
noviembre     3661
marzo         3549
abril         3452
agosto        3393
mayo          3336
junio         3151
febrero       3028
julio         2638
Name: count, dtype: int64

In [19]:
# función cantidad_filmaciones_mes

mes = 'Setiembre'

if (mes.lower() == 'setiembre'):
    mes = 'septiembre'

qtt_movies_month = movies_ds_mes.loc[movies_ds_mes['release_month_spa'] == mes.lower(), 'id'].count()

print(f"En el mes de {mes} se estrenaron {qtt_movies_month} películas.")

En el mes de septiembre se estrenaron 4834 películas.

</br>

### cantidad_filmaciones_dia

Se ingresa un día en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en día consultado en la totalidad del dataset.</br>

- id de la película 
- día de la semana (en idioma español) en que se estrenó la película (preparado en la notebook Transformaciones a partir de la fecha de estreno)

In [21]:
#### API - FUNCION cantidad_filmaciones_dia
# Preparo para consultas en API una columna con el dia de la semana en castellano
# PUEDO CONVERTIR EL NOMBRE DEL DIA DE LA SEMANA A NUMERO Y PONER ESO EN LA COLUMNA. ¿LA BUSQUEDA SERIA MAS RAPIDA?

# Series.dt.dayofweek[source] The day of the week with Monday=0, Sunday=6.

# el índice del array coincide con el numero del dia de la semana asignado por Series.dt.dayofweek Monday=0, Sunday=6

day_week = ["lunes",
          "martes",
          "miércoles",
          "jueves",
          "viernes",
          "sábado",
          "domingo"]

In [22]:
# release_date  object
# convertir la columna 'release_date' a datetime para poder usar dayofweek

# Converting 'Date' column to datetime
# df['Date'] = pd.to_datetime(df['Date'])
df['release_date'] = pd.to_datetime(df['release_date'])

# en una nueva columna guardo el dia de la semana en que se estreno la pelicula
df['day_week_spa'] = df['release_date'].dt.dayofweek.apply(lambda x: day_week[int(x)])

# reviso que los numeros de dias asignados se correspondan con el numero del indice
print('dias de la semana en numeros:', df['release_date'].dt.dayofweek.unique())
print(df['day_week_spa'].unique())

dias de la semana en numeros: [0 4 3 2 5 1 6]
['lunes' 'viernes' 'jueves' 'miércoles' 'sábado' 'martes' 'domingo']

In [23]:
# GUARDO el dataset reducido 
movies_ds_dia = df[['id', 'day_week_spa']].copy()
movies_ds_dia.to_csv("movies_ds_dia.csv" , index=False)

In [24]:
movies_ds_dia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45345 non-null  int64
 1   day_week_spa  45345 non-null  object
dtypes: int64(1), object(1)
memory usage: 708.6+ KB

In [25]:
# averiguo cantidad de películas estrenadas por día de la semana en el dataset
movies_ds_dia["day_week_spa"].value_counts()

day_week_spa
viernes      13902
jueves        7520
miércoles     7027
sábado        5149
martes        4639
domingo       3608
lunes         3500
Name: count, dtype: int64

In [29]:
# FUNCION cantidad_filmaciones_dia

dia = 'miercoles'

if dia.lower() == 'sabado':
    dia = 'sábado'
elif dia.lower() == 'miercoles':
    dia = 'miércoles'

qtt_movies_day = movies_ds_dia.loc[movies_ds_dia['day_week_spa'] == dia.lower(), 'id'].count() 
 
print(f"En día {dia} se estrenaron {qtt_movies_day} películas." )

En día miércoles se estrenaron 7027 películas.

</br>

### score_titulo

Se ingresa el título de una películas. Devuelve el título, el año de estreno y el score (columna popularity).</br>

- id de la película 
- title
- release_year
- popularity (piden score/popularidad. Es esa columna) </br>

(ya tengo todas las columnas necesarias)

In [31]:
# PREPARO FUNCION score_titulo

# No olvidar! Convertir los titulos a minuscula solo cuando busco. Ver si no es muy lento. 
# Si guardo todo en minuscula no quedara prolijo el mensaje de retorno 
# (me parecería mejor llamarlo mensaje de salida o output )

In [32]:
# Guardo el dataset con las columnas que necesito
movies_ds_score = df[['id', 'title', 'release_year', 'popularity']].copy()
movies_ds_score.to_csv("movies_ds_score.csv" , index=False)

Pruebo Tiene que dar estos valores: <br>
11860,Sabrina,6.677277 <br>
710,GoldenEye,14.686036 <br>
9087,The American President,6.318445 <br>
10858,Nixon,5.092 <br>
9302,Up Close & Personal,1996,3.402749 <br>
11000,The Birdcage,1996,6.49968 <br>

In [33]:
title_prueba = 'Up Close & PersOnAl'

# row = df.loc[df['Name'] == 'Alice', ['Age', 'Country', 'Salary']]

# puede haber mas de una película con el mismo nombre. Ver qué hacer title_prueba = 'Sabrina'
# Es un MVP. Por ahora muestra los datos de la primera pelicula que aparezca con ese nombre

row = movies_ds_score.loc[movies_ds_score['title'].str.lower() == title_prueba.lower(), ['release_year', 'popularity']] # esto es un dataframe nuevo. ver como leerlo puede ser pesado

print(f"La película {title_prueba} se estrenó en el año {row['release_year'].values[0]} con un score/popularidad de {row['popularity'].values[0]}.")

La película Up Close & PersOnAl se estrenó en el año 1996 con un score/popularidad de 3.402749.

<br/>

### votos_titulo

Se ingresa el título de una película. Devuelve la cantidad de votos y el valor promedio de las votaciones. </br>
vote_count deberá tener al menos 2000 valoraciones. Si no, un mensaje avisa que no cumple esta condición y que no se devuelve ningun valor. </br>

 - id de la película 
 - title,
 - release_year,
 - vote_average,
 - vote_count

(tengo todas las columnas necesarias)

In [34]:
movies_ds_votos = df[['id', 'title', 'release_year', 'vote_average', 'vote_count']].copy()
movies_ds_votos.to_csv("movies_ds_votos.csv" , index=False)

Para probar: </br>
id,title,release_year,vote_average,vote_count</br>
862,Toy Story,1995,7.7,5415.0</br>
8844,Jumanji,1995,6.9,2413.0</br>
117164,Guardian Angel,1994,6.3,3.0</br>
97406,Georgia,1995,6.1,15.0</br>

In [37]:
titulo = 'Toy StorY'

# busca en el dataset la pelicula cuyo titulo se ingresó
titulo_datos = movies_ds_votos.loc[movies_ds_votos['title'].str.lower() == titulo.lower(), ['release_year', 'vote_average', 'vote_count']] # esto es un dataframe nuevo. ver como leerlo puede ser pesado

# pruebo para guardar la cantidad de votos. En main no se puede usar en el mensaje los valores de la columna directamente, sin guardarlos en una variable
tit_vote_count = titulo_datos['vote_count'].values[0]

msg = f"La película {titulo} se estrenó en el año {titulo_datos['release_year'].values[0]}. La misma cuenta con un total de {titulo_datos['vote_count'].values[0]} valoraciones, con un promedio de {titulo_datos['vote_average'].values[0]}."

# Si la cantidad de votos es menor a 2000 valoraciones informa que no cumple esta condición y no se devuelve ningun valor
if tit_vote_count < 2000:
    msg = f"La película {titulo} tiene menos de 2000 valoraciones. No se devuelve ningun valor." 
  
print(msg)

La película Toy StorY se estrenó en el año 1995. La misma cuenta con un total de 5415.0 valoraciones, con un promedio de 7.7.

</br>

### get_actor

Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, la cantidad de películas que en las que ha participado y el promedio de retorno. La definición no deberá considerar directores.. </br>

- id de la película 
- id del actor (campos id de la columna cast de la tabla credits) 
- nombre del actor (campos name de la columna cast de la tabla credits)
- título de cada pelicula en la que participó
- return de cada pelicula en la que participó
- es_director (columna bool (True/False) indicando los actores que tambien son directores porque hay que informar eso y no mostrar sus datos)

Comentarios.</br>
En la notebook de Transformaciones desanidé la columna cast del dataset credits para obtener los nombres de los actores.</br>
</br>
Como en una película actúan muchos actores y en el nuevo archivo tendré una fila por cada actor y película, si incluyera todos los actores</br>
de todas las peliculas seria un dataset muy pesado (demasiado grande) </br>
Para empezar selecciono 20 actores o actrices conocidos. </br>
Mas adelante vere otra forma de almacenarlos que sea mas eficiente. Podria guardar el nombre del actor y un diccionario con las peliculas en las que actua</br>
Pero eso no seria muy eficiente para actualizar los datos, creo.</br>
</br>
Algunos de los actores seleccionados sé que tambien son directores. Pero la confirmacion de que son directores la hago consultando el dataset de directores que </br>
tambien preparé en la notebook de Transformaciones.

In [3]:
# Leo el dataset que tienen los nombres de los actores o actrices y las peliculas donde actuaron. 
# Hay una fila por cada actor y pelicula
dfa = pd.read_csv('credits_actors.csv')
dfa.columns = ['movie_id', 'actor_id', 'actor_name'] # renombro las columnas
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564257 entries, 0 to 564256
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   movie_id    564257 non-null  int64
 1   actor_id    561909 non-null  float64
 2   actor_name  561909 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 12.9+ MB

Hay muchos actor_id null. ¿Nombres de Peliculas sin actores? Selecciono los actores que me interesan y despues vere si tengo que resolver algo mas.

In [4]:
# Leo el dataset que tienen los nombres de los directores o directoras y las peliculas que dirigieron.
# Hay una fila por cada director y pelicula
dfd = pd.read_csv('credits_directors.csv')
dfd.columns = ['movie_id', 'director_id', 'director_name'] # renombro las columnas
dfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48957 entries, 0 to 48956
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       48957 non-null  int64
 1   director_id    48957 non-null  int64
 2   director_name  48957 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

Elegí previamente 20 actores o actrices que conozco para usar en esta prueba </br>
Brad Pitt, Clint Eastwood, Denzel Washington, Emma Stone, Emma Thompson, Emma Watson, Harrison Ford, Jessica Lange, Jodie Foster, Johnny Depp, Keanu Reeves, Leonardo DiCaprio, Meryl Streep, Robert Redford, Sally Field, Sandra Bullock, Tom Cruise, Tom Hanks, Will Smith, Woody Allen </br>

In [5]:
# creo un nuevo dataset (de menor tamaño) seleccionando solo los actores o actrices que elegi para este MVP
actors_selected = ['Brad Pitt', 'Clint Eastwood', 'Denzel Washington', 'Emma Stone', 'Emma Thompson', 'Emma Watson', 'Harrison Ford', 'Jessica Lange', 
                   'Jodie Foster', 'Johnny Depp', 'Keanu Reeves', 'Leonardo DiCaprio', 'Meryl Streep', 'Robert Redford', 'Sally Field', 'Sandra Bullock', 
                   'Tom Cruise', 'Tom Hanks', 'Will Smith', 'Woody Allen']
df_actors_sel = dfa.loc[dfa['actor_name'].isin(actors_selected)]

In [6]:
df_actors_sel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 954 entries, 0 to 563104
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movie_id    954 non-null    int64
 1   actor_id    954 non-null    float64
 2   actor_name  954 non-null    object
dtypes: float64(1), int64(1), object(1)
memory usage: 29.8+ KB

In [7]:
# miro como quedo el dataset
df_actors_sel.head(10)

      movie_id  actor_id      actor_name
0          862      31.0       Tom Hanks
133      11860       3.0   Harrison Ford
376       4584    7056.0   Emma Thompson
624         63     287.0       Brad Pitt
712      47018    7056.0   Emma Thompson
908        807     287.0       Brad Pitt
1002     11448    1243.0     Woody Allen
1084     17182      35.0     Sally Field
1131     19760   18277.0  Sandra Bullock
1507      2086      85.0     Johnny Depp

In [8]:
# veo cuantas peliculas tiene cada actor seleccionado
# tienen muchas. tal vez tenga que reducir el dataset
df_actors_sel["actor_name"].value_counts()

actor_name
Tom Hanks            72
Johnny Depp          69
Meryl Streep         66
Keanu Reeves         64
Clint Eastwood       63
Harrison Ford        59
Brad Pitt            59
Woody Allen          56
Robert Redford       50
Denzel Washington    48
Emma Thompson        47
Tom Cruise           47
Sandra Bullock       39
Jodie Foster         38
Jessica Lange        38
Sally Field          35
Leonardo DiCaprio    32
Will Smith           30
Emma Stone           23
Emma Watson          19
Name: count, dtype: int64

In [9]:
# identifico los actores que tambien son directores con un merge
# estas instrucciones son medio desprolijas. ahora quiero que funcione. Mejorar mas adelante
# hago merge con los nombres porqu eno se si los directores tiene losmismos ids que los actores
# espero que las filas de los actores que no son directores queden en NaN y los que son directores con los nombres de los mismos
df_actors_merge = pd.merge(df_actors_sel, dfd['director_name'], how='left', left_on='actor_name', right_on='director_name')

In [10]:
df_actors_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6538 entries, 0 to 6537
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       6538 non-null   int64
 1   actor_id       6538 non-null   float64
 2   actor_name     6538 non-null   object
 3   director_name  6079 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 204.4+ KB

In [11]:
df_actors_merge.head(10)

   movie_id  actor_id     actor_name director_name
0       862      31.0      Tom Hanks     Tom Hanks
1       862      31.0      Tom Hanks     Tom Hanks
2       862      31.0      Tom Hanks     Tom Hanks
3     11860       3.0  Harrison Ford           NaN
4      4584    7056.0  Emma Thompson           NaN
5        63     287.0      Brad Pitt           NaN
6     47018    7056.0  Emma Thompson           NaN
7       807     287.0      Brad Pitt           NaN
8     11448    1243.0    Woody Allen   Woody Allen
9     11448    1243.0    Woody Allen   Woody Allen

In [12]:
# aparecen duplicados.
   # Why do we need to drop the duplicates after the merge? and why does the merge generate duplciates?
   # Merge is a mathematical operation on sets and it works the same way. When you have more than one match of a value in the second set, it puts it in the final dataframe
# los elimino
# tengo que tener la misma cantidad de filas que antes del merge
df_actors_merge.drop_duplicates(subset=['movie_id', 'actor_id'], keep='first', inplace=True, ignore_index=True)
#dfc_sindup = df_actors_merge.drop_duplicates(subset='id', keep="last")

In [13]:
# hay dos filas menos, seguramente estaban duplciadas antes del merge
df_actors_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 952 entries, 0 to 951
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       952 non-null    int64
 1   actor_id       952 non-null    float64
 2   actor_name     952 non-null    object
 3   director_name  494 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 29.9+ KB

In [14]:
df_actors_merge.head(10)

   movie_id  actor_id      actor_name director_name
0       862      31.0       Tom Hanks     Tom Hanks
1     11860       3.0   Harrison Ford           NaN
2      4584    7056.0   Emma Thompson           NaN
3        63     287.0       Brad Pitt           NaN
4     47018    7056.0   Emma Thompson           NaN
5       807     287.0       Brad Pitt           NaN
6     11448    1243.0     Woody Allen   Woody Allen
7     17182      35.0     Sally Field   Sally Field
8     19760   18277.0  Sandra Bullock           NaN
9      2086      85.0     Johnny Depp   Johnny Depp

In [15]:
# cambio nombre de la columna director_name a is_director. True los que tienen nombre (esos son directores) y False los que estan en NaN
df_actors_def = df_actors_merge.rename(columns={'director_name':'is_director'})

In [16]:
df_actors_def.head(10)

   movie_id  actor_id      actor_name  is_director
0       862      31.0       Tom Hanks    Tom Hanks
1     11860       3.0   Harrison Ford          NaN
2      4584    7056.0   Emma Thompson          NaN
3        63     287.0       Brad Pitt          NaN
4     47018    7056.0   Emma Thompson          NaN
5       807     287.0       Brad Pitt          NaN
6     11448    1243.0     Woody Allen  Woody Allen
7     17182      35.0     Sally Field  Sally Field
8     19760   18277.0  Sandra Bullock          NaN
9      2086      85.0     Johnny Depp  Johnny Depp

In [17]:
# reemplazo True los que tienen nombre (esos son directores) y False los que estan en NaN
# Replace Values Using np.where()
# The np.where() function from the NumPy library is another powerful tool for conditionally replacing values.
df_actors_def['is_director'] = np.where(df_actors_def['is_director'].isna() , False, True)

In [18]:
df_actors_def.head(10) #listo esta parte

   movie_id  actor_id      actor_name  is_director
0       862      31.0       Tom Hanks         True
1     11860       3.0   Harrison Ford        False
2      4584    7056.0   Emma Thompson        False
3        63     287.0       Brad Pitt        False
4     47018    7056.0   Emma Thompson        False
5       807     287.0       Brad Pitt        False
6     11448    1243.0     Woody Allen         True
7     17182      35.0     Sally Field         True
8     19760   18277.0  Sandra Bullock        False
9      2086      85.0     Johnny Depp         True

In [19]:
# Leo el dataset de movies que preparé para armar el dataset definitivo con los valores que necesito de movies y de actors 
dfm = pd.read_csv('movies_sin_duplic.csv')

In [20]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45345 non-null  int64
 1   title         45345 non-null  object
 2   release_date  45345 non-null  object
 3   release_year  45345 non-null  int64
 4   popularity    45345 non-null  float64
 5   vote_average  45345 non-null  float64
 6   vote_count    45345 non-null  float64
 7   budget        45345 non-null  float64
 8   revenue       45345 non-null  float64
 9   return        45345 non-null  float64
dtypes: float64(6), int64(2), object(2)
memory usage: 3.5+ MB

In [21]:
# selecciono las columnas que quiero del dataset id y return (guardo title para tener idea de que peli es)
df_movies = dfm[['id', 'title', 'return']].copy()

In [22]:
# inner join entre los actores y las peliculas para guardar los datos que necesito de ambas. 
# revisar que no haya duplicados.
movies_ds_actors = pd.merge( df_actors_def, df_movies, how='inner', left_on='movie_id', right_on='id')

In [23]:
movies_ds_actors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 952 entries, 0 to 951
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_id     952 non-null    int64
 1   actor_id     952 non-null    float64
 2   actor_name   952 non-null    object
 3   is_director  952 non-null    bool
 4   id           952 non-null    int64
 5   title        952 non-null    object
 6   return       952 non-null    float64
dtypes: bool(1), float64(2), int64(2), object(2)
memory usage: 45.7+ KB

In [24]:
# elimino la columna id, es la misma que movie_id
movies_ds_actors.drop(['id'], axis=1, inplace=True)

In [113]:
# guardo esta version reducida para probar 
movies_ds_actors.to_csv("movies_ds_actors ver1.csv" , index=False)

In [25]:
# reviso proque quedo muy pequeña
movies_ds_actors.head(10)

,movie_id,actor_id,actor_name,is_director,title,return
0,862,31.0,Tom Hanks,True,Toy Story,12.451801
1,11860,3.0,Harrison Ford,False,Sabrina,0.000000
2,4584,7056.0,Emma Thompson,False,Sense and Sensibility,8.181818
3,63,287.0,Brad Pitt,False,Twelve Monkeys,5.723390
4,47018,7056.0,Emma Thompson,False,Carrington,0.000000
5,807,287.0,Brad Pitt,False,Se7en,9.918541
6,11448,1243.0,Woody Allen,True,Mighty Aphrodite,0.446667
7,17182,35.0,Sally Field,True,Eye for an Eye,0.000000
8,19760,18277.0,Sandra Bullock,False,Two If by Sea,0.000000
9,2086,85.0,Johnny Depp,True,Nick of Time,1.000732

In [27]:
# veo cuáles son directores
movies_ds_actors[movies_ds_actors['is_director'] == True]['actor_name'].unique()

array(['Tom Hanks', 'Woody Allen', 'Sally Field', 'Johnny Depp',
       'Clint Eastwood', 'Jodie Foster', 'Robert Redford',
       'Denzel Washington', 'Keanu Reeves'], dtype=object)

In [28]:
# veo cuáles no son directores
movies_ds_actors[movies_ds_actors['is_director'] == False]['actor_name'].unique()

array(['Harrison Ford', 'Emma Thompson', 'Brad Pitt', 'Sandra Bullock',
       'Meryl Streep', 'Will Smith', 'Leonardo DiCaprio', 'Jessica Lange',
       'Tom Cruise', 'Emma Watson', 'Emma Stone'], dtype=object)

In [62]:
actor = 'Meryl Streep'

actor_low = actor.lower()

# reviso si el actor es tambien director
# df_actors.loc['is_director'].values[0] sera True
actor_director  = movies_ds_actors.loc[movies_ds_actors['actor_name'].str.lower() == actor_low, 'is_director'].values[0]

# si fue director en alguna pelicula aviso y no muestra los datos
if actor_director:
    
    print(f'El actor {actor} fue también director de alguna película - No se muestran datos')

else:
    # sumo el retorno de las peliculas en las que actuó, cuento la cantidad de peliculas en las que actuó y calculo el promedio del retorno
    # buscar solo una vez y armar un nuevo dataset con eso 

    movies_ds_one_actor = movies_ds_actors.loc[movies_ds_actors['actor_name'].str.lower() == actor_low]

    ret_sum =  movies_ds_one_actor['return'].sum() 
    ret_count = movies_ds_one_actor['return'].count() 
    ret_avg = ret_sum / ret_count

    print(f"El actor {actor} ha participado de {ret_count} películas, consiguió un retorno de {ret_sum} con un promedio de {ret_avg} por película.")

El actor Meryl Streep ha participado de 66 películas, consiguió un retorno de 108.24862345926158 con un promedio de 1.6401306584736604 por película.

</br>

### get_director

Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. </br>
Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma. </br>

- id de la película 
 - id del director (id de la columna crew de la tabla credits donde 'job': 'Director')
 - nombre del director (name de la columna crew de la tabla credits donde 'job': 'Director') 
 - title
 - release_date
 - budget
 - revenue
 - return
</br>
En la notebook de Transformaciones desanidé la columna crew del dataset credits para obtener los nombres de los directores y los ids de las películas donde trabajaron.</br>

In [32]:
# Leo el dataset que tienen los nombres de los directores o directoras y las peliculas que dirigieron.
# Hay una fila por cada director y pelicula
dfd = pd.read_csv('credits_directors.csv')
dfd.columns = ['movie_id', 'director_id', 'director_name'] # renombro las columnas
dfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48957 entries, 0 to 48956
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       48957 non-null  int64
 1   director_id    48957 non-null  int64
 2   director_name  48957 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [33]:
# Leo el dataset de movies que preparé para armar el dataset definitivo con los valores que necesito de movies 
dfm = pd.read_csv('movies_sin_duplic.csv')

In [34]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45345 non-null  int64
 1   title         45345 non-null  object
 2   release_date  45345 non-null  object
 3   release_year  45345 non-null  int64
 4   popularity    45345 non-null  float64
 5   vote_average  45345 non-null  float64
 6   vote_count    45345 non-null  float64
 7   budget        45345 non-null  float64
 8   revenue       45345 non-null  float64
 9   return        45345 non-null  float64
dtypes: float64(6), int64(2), object(2)
memory usage: 3.5+ MB

In [43]:
# selecciono las columnas que quiero del dataset id y return (guardo title para tener idea de que peli es)
df_movies = dfm[['id', 'title', 'release_date', 'budget', 'revenue', 'return']].copy()

In [44]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45345 entries, 0 to 45344
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45345 non-null  int64
 1   title         45345 non-null  object
 2   release_date  45345 non-null  object
 3   budget        45345 non-null  float64
 4   revenue       45345 non-null  float64
 5   return        45345 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 2.1+ MB

In [50]:
# inner join entre los actores y las peliculas para guardar los datos que necesito de ambas. 
# revisar que no haya duplicados.
movies_dir = pd.merge( dfd, df_movies, how='inner', left_on='movie_id', right_on='id')

In [51]:
movies_dir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48957 entries, 0 to 48956
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       48957 non-null  int64
 1   director_id    48957 non-null  int64
 2   director_name  48957 non-null  object
 3   id             48957 non-null  int64
 4   title          48957 non-null  object
 5   release_date   48957 non-null  object
 6   budget         48957 non-null  float64
 7   revenue        48957 non-null  float64
 8   return         48957 non-null  float64
dtypes: float64(3), int64(3), object(3)
memory usage: 3.4+ MB

In [52]:
# elimino la columna id, es la misma que movie_id
movies_dir.drop(['id'], axis=1, inplace=True)

In [54]:
# veo cuantas peliculas tienen los directores. Solo seleccionaré algunos para que el dataset no sea tan grande
movies_dir["director_name"].value_counts()

director_name
John Ford               68
Michael Curtiz          65
Werner Herzog           55
Alfred Hitchcock        53
Georges Méliès          51
                        ..
Colin Webb               1
Michael Henry Wilson     1
Bob Richardson           1
Jim Sonzero              1
John Marshall            1
Name: count, Length: 19712, dtype: int64

In [55]:
# veo los directores que tengan alrededor de 10 peliculas para que cuando liste las peliculas no quede tan extenso
movies_dir.groupby("director_name").filter(lambda x: len(x) > 7 & len(x) < 11)

,movie_id,director_id,director_name,title,release_date,budget,revenue,return
0,862,7879,John Lasseter,Toy Story,1995-10-30,30000000.0,373554033.0,12.451801
1,8844,4945,Joe Johnston,Jumanji,1995-12-15,65000000.0,262797249.0,4.043035
2,15602,26502,Howard Deutch,Grumpier Old Men,1995-12-22,0.0,0.0,0.000000
5,949,638,Michael Mann,Heat,1995-12-15,60000000.0,187436818.0,3.123947
6,11860,2226,Sydney Pollack,Sabrina,1995-12-15,58000000.0,0.0,0.000000
...,...,...,...,...,...,...,...,...
48946,67179,24279,Paolo Taviani,St. Michael Had a Rooster,1972-01-01,0.0,0.0,0.000000
48947,67179,24281,Vittorio Taviani,St. Michael Had a Rooster,1972-01-01,0.0,0.0,0.000000
48948,84419,89745,Jean Yarbrough,House of Horrors,1946-03-29,0.0,0.0,0.000000
48952,30840,17784,John Irvin,Robin Hood,1991-05-13,0.0,0.0,0.000000
48954,67758,67753,Mark L. Lester,Betrayal,2003-08-01,0.0,0.0,0.000000

In [67]:
# Pero tal vez no son muy conocidos. Selecciono algunos directores conocidos y veré que queda
# creo un nuevo dataset (de menor tamaño) para este MVP
directors_selected = ['Francis Ford Coppola', 'James Cameron', 'Joel Coen', 'Martin Scorsese', 'Quentin Tarantino', 'Stanley Kubrick', 
                      'Steven Spielberg', 'Wes Anderson', 'Woody Allen', 'Clint Eastwood', 'Sofia Coppola', 'Natalie Portman', 
                      'Jodie Foster', 'Martin Scorsese', 'Alfred Hitchcock', 'Greta Gerwig', 'Niki Caro']

movies_ds_directors = movies_dir.loc[movies_dir['director_name'].isin(directors_selected)]

In [68]:
# veo cuantas peliculas filmó cada uno
movies_ds_directors["director_name"].value_counts()
# Parece que las mujeres que elegí no filmaron mucho (son las 5 últimas)

director_name
Alfred Hitchcock        53
Woody Allen             49
Martin Scorsese         41
Clint Eastwood          35
Steven Spielberg        33
Francis Ford Coppola    24
Joel Coen               19
Stanley Kubrick         16
James Cameron           12
Quentin Tarantino       11
Wes Anderson            10
Sofia Coppola            8
Niki Caro                5
Jodie Foster             4
Natalie Portman          2
Greta Gerwig             1
Name: count, dtype: int64

In [69]:
# guardo esta version para probar 
movies_ds_directors.to_csv("movies_ds_directors ver1.csv" , index=False)

In [70]:
nombre_director = 'Martin Scorsese'

director_low = nombre_director.lower()

#### buscar solo una vez y armar un nuevo dataset con eso - CORREGIRLO TAMBIEN EN LA DE ACTORES

movies_ds_one_dir = movies_ds_directors.loc[movies_ds_directors['director_name'].str.lower() == director_low]

# selecciono las columnas que hay que mostrar

movies_ds = movies_ds_one_dir[['title', 'release_date', 'budget', 'revenue', 'return']].copy()

ret_sum = movies_ds_one_dir['return'].sum() 

print(f"El director {nombre_director} consiguió un retorno de {ret_sum}. Participó en las siguientes películas")

El director Martin Scorsese consiguió un retorno de 62.0795863602136. Participó en las siguientes películas

In [71]:
# creo resultado en formato json (espero que resulte)

msg = {'El director': nombre_director,
       'consiguió un retorno de': ret_sum,
       'Participó en las películas': movies_ds_one_dir.to_dict(orient="records")
}

</br>

### Sistema de recomendación

Éste consiste en recomendar películas a los usuarios basándose en películas similares, por lo que se debe encontrar la similitud de puntuación entre esa película y el resto de películas, se ordenarán según el score de similaridad y devolverá una lista de Python con 5 valores, cada uno siendo el string del nombre de las películas con mayor puntaje, en orden descendente. Debe ser deployado como una función adicional de la API anterior y debe llamarse:</br>
def **recomendacion( *`titulo`* )**:
    Se ingresa el nombre de una película y te recomienda las similares en una lista de 5 valores.

In [4]:
#from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# Leo el dataset de movies que preparé para armar el dataset definitivo con los valores que necesito de movies 
dfm = pd.read_csv('movies_sin_duplic.csv')

In [6]:
# selecciono las peliculas de idioma original frances, slo el titulo
# df_movies = dfm.loc[dfm['original_language'] == 'fr', 'title']
# son mas de 2000

In [3]:
# selecciono las peliculas de idioma original ingles, de 1980 a 1985. solo el titulo
df_movies = dfm.loc[(dfm['original_language'] == 'en') & (dfm['release_year'] > 1979) & (dfm['release_year'] < 1986), 'title']

In [15]:
# guardo esta version para probar 
df_movies.to_csv("movies_ds_titles.csv" , index=False)

In [2]:
df_movies = pd.read_csv('movies_ds_titles.csv')

In [3]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1486 entries, 0 to 1485
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1486 non-null   object
dtypes: object(1)
memory usage: 11.7+ KB

In [4]:
df_movies.head()

              title
0      Blade Runner
1             Harem
2       Heavy Metal
3           Windows
4  My Favorite Year

In [6]:
# con mucha ayuda de google y chapGPT
# Inicializo TfidfVectorizer
vectorizer = TfidfVectorizer()

# Fit y transformación de los titulos de las peliculas
tfidf_matrix = vectorizer.fit_transform(df_movies['title'])

In [25]:
# ejempl de titulo de pelicula que ingreso
titulo = 'My Year'
# convierte en una lista
s_tit = [titulo]

# vectoriza s_tit
s_tit_tfidf = vectorizer.transform(s_tit)

In [26]:
# Calcula la similitud del coseno entre el titulo de que ingreso y los titulos de las peliculas del dataset 
cosine_sim = cosine_similarity(s_tit_tfidf, tfidf_matrix)

print(cosine_sim)

[[0. 0. 0. ... 0. 0. 0.]]

In [27]:
# veo como acceder a los valores de la matriz
similarity_value = cosine_sim[0][1]  
print(f"Similarity: {similarity_value}")

Similarity: 0.0

In [28]:
# uno los títulos de las películas con sus valores de similitud de coseno correspondientes
# (con mucha ayuda de google y chatGPT)
result = []

for i in range(len(df_movies)):  # itera por todas las filas de la serie de titulos de peliculas
        similarity_value = cosine_sim[0][i]
        result.append({
           # accede a cada elemento de la serie y de la matriz
            'Title': df_movies['title'].iloc[i],
            'Cos_Sim': similarity_value
        })

# Convierte el resultado en un df
result_df = pd.DataFrame(result)

print(result_df)

                                              Title   Cos_Sim
0                                      Blade Runner  0.000000
1                                             Harem  0.000000
2                                       Heavy Metal  0.000000
3                                           Windows  0.000000
4                                  My Favorite Year  0.755251
...                                             ...       ...
1481  Portrait of a '60% Perfect Man': Billy Wilder  0.000000
1482                      House of the Long Shadows  0.000000
1483               The Return of Captain Invincible  0.000000
1484                              Dawn of the Mummy  0.000000
1485                                    Deep Hearts  0.000000

[1486 rows x 2 columns]

In [29]:
# ordena los valores de similitud en orden ascendente
final_df = result_df.sort_values(by=['Cos_Sim'], ascending=False)

In [30]:
# selecciona los 5 valores mas similares y los convierte en una lista
# list = final_df.head(5).values.tolist()
lista = final_df.head(5).to_dict(orient='records') 
print(lista)

[['My Favorite Year', 0.7552508897037336], ['Year of the Dragon', 0.49220263957629423], ["New Year's Evil", 0.4620893616410682], ['The Year of Living Dangerously', 0.41144314563620066], ['My Tutor', 0.3857019303351263]]